header{
	text-align:left;
	font-size: large;+
	margin:auto;
	width:1150px;
	font-family:trebuchet;	
}
header>h2{
	text-align:left;
	font-size: large;
	margin:auto;
	width:1150px;
	font-family:trebuchet;
	font-size:25px;
}
nav {
    font-family: "Snell Roundhand";
    background-color: black;
    padding: 6px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    position: fixed;
    font-size: large;
    left: 0;
    right: 0;
}


nav>a{
	padding-left:0;
	padding-right:0;
	margin:0;
	padding:20px;
	font-size:23px;
}
a{
	color:#F0EAD6;
	text-decoration:none;
	padding: 1em;
	margin: 1em;
}
body{
	width: 1200px;
	margin: auto;
	text-align:center;
	background-color: #F0EAD6;
	font-size:25px;
}
main{
	border:solid;
	background-color:#F0EAD6;
	border-radius: 6px;
	margin-top:60px;
}
h2{
	text-align:center;
	scroll-margin-top: 60px;
}
img[src="./images/photo.png"]{
	max-height :250px;
	float : right;
	padding-right:10px;
	border-radius:90px;
}
p{
	text-align:center;
	font-size:22px;
}
p>a{
	color:blue;
	text-decoration: underline;
}
li>a{
	color:blue;
	text-decoration: underline;
}
li{
	text-align:center;
}
ul{
	list-style: none;
	  
}
ul li::before{
	content:"-";
	margin-right: 0.5em;
	
}
br{
	border:solid;
}

p>img[src="./images/Hanoi.png"]{
		max-height :400px;
		float : left ;
		padding-left:100px;
		border-radius:0px;

  }

p>img[src="./images/Hanoi2.png"]{
	max-height :400px;
	float : right;
	padding-right:100px;
	border-radius:0px;
  }

p>img[src="./images/texte code.png"]{
	max-height :400px;
	float : center;
	padding-right:30px;
	border-radius:0px;
  }

p>img[src="./images/projet.png"]{
	max-height :300px;
	float : center;
	padding-right:35px;
	padding-top:30px;
	border-radius:0px;
  }

p>img[src="./images/Projet interaction.png"] {
	max-height :300px;
	float : center;
	padding-right:35px;
	padding-top:30px;
	border-radius:0px;
  }

  p>img[src="./images/IUT.png"]{
	max-height :450px;
	float : center;
	padding-right:35px;
	padding-top:30px;
	padding-bottom: 35px;
	border-radius:60px;
  }
  img[src="./images/Lachenal.png"]{
	max-height :350px;
	float : center;
	padding-right:35px;
	padding-top:30px;
	padding-bottom: 35px;
	border-radius:50px;
  }
  img[src="./images/Fays.png"]{
	max-height :180px;
	float : center;
	padding-right:35px;
	padding-top:30px;
	border-radius:40px;
  }
  img[src="./images/Céjo.png"]{
	max-height :450px;
	float : center;
	padding-right:35px;
	padding-top:35px;
	padding-bottom: 35px;
	border-radius:50px;
  }
  img[src="./images/Annecy.png"]{
	max-height :450px;
	float : center;
	padding-right:35px;
	padding-top:50px;
	padding-bottom: 15px;
	border-radius:40px;
  }
  img[src="./images/USP.png"]{
	max-height :450px;
	float : center;
	padding-right:35px;
	padding-top:50px;
	padding-bottom: 15px;
	border-radius:40px;
  }
  img[src="./images/Skiclub.png"]{
	max-height :650px;
	float : center;
	padding-right:35px;
	padding-top:50px;
	padding-bottom: 15px;
	border-radius:60px;
  }
  img[src="./images/VTT.png"]{
	max-height :450px;
	float : center;
	padding-right:35px;
	padding-top:50px;
	padding-bottom: 15px;
	border-radius:40px;
  }
